<html>
	<head>
		<title>Application de gestion des ressources</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-resource.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script src="javascripts/gestApp.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="stylesheets/style.css">
	</head>
	<body ng-app="gestApp">




		<div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">

        

           		<div class="container">
					    <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a>
					    <p class="navbar-text"> Energie utilities</p>
              <div>
					   
					    <p class="navbar-left navbar-text " ng-show="authenticated">Bonjour {{current_user}}</p>
               <span><p class="navbar-right navbar-text " ng-show="authenticated"><a href="#" ng-click="signout()">Logout</a></p></span>
              </div>		
				</div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
    <div ng-view=""></div>
    
    </div>
<div class="row">
    <div class="footer col-xs-12 col-sm-8 col-md-6 col-md-offset-3">
     
        <p class="text-center text-muted">
          Copyright &copy; 2015-2050 &middot; Capgemini</p>        
    </div>
  </div>
	</body>
</html>