<div class = "login" >
	
	<h3>Login - <small>Connectez-vous pour accéder à l'application.</small></h3>
	<form class="form-auth" ng-submit="login()">
		<div class="alert alert-danger" role="alert" ng-show ="error_message" >
		  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		  <span class="sr-only">Error:</span>
		  {{error_message}}
		</div>
		
		<input type="username" ng-model="user.username" placeholder="Username" class="form-control"><br>
		<input type="password" ng-model="user.password" placeholder="Password" class="form-control"><br>
		<input type="submit" value="Log in" class="btn btn-primary" />	
		<span>ou <button type="button" class="btn btn-link " data-toggle="modal" data-target="#myModal">
  		S'inscrire !</button></span>
  		
	</form>
	<!-- model -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Registration</h4>
	      </div>
	      <div class="modal-body">
	       	<form class="form-auth" >
			<h2>Créer un compte</h2>
			<p class="text-warning">{{error_message}}</p>
			<input type="username" ng-model="new_user.username" placeholder="Username" class="form-control"><br>
			<input type="email" ng-model="new_user.email" placeholder="E-mail" class="form-control"><br>
			<input type="password" ng-model="new_user.password" placeholder="Password" class="form-control"><br>
			</form>
	      </div>
	      <div class="modal-footer">
	       
	        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click = "register()">valider</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- fin model -->
	<hr>
 <div class="col-md-6 col-md-offset-3">
	  <img  src="images/logo.png" alt="Capgemini" class="img-responsive">
	
	 </div>
</div>





